.aboutme-body {
    background: linear-gradient(#023402, #ffffff); /* Gradient from dark green to white */
}

.aboutme-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    gap: 20px;
    align-items: start; /* Align items to the start */
    min-height: 100vh; /* Make sure it covers the full viewport height */
}

.aboutme-image-container { /* Renamed class for the div */
    width: 70%; /* Div fills its grid area */
}

.aboutme-image {
    width: 90%; /* Image fills its container */
    height: 80%; /* Maintain aspect ratio */
    margin-left: 7vw;
    margin-top: 18vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Rounded corners with a radius of 10px */
}

.aboutme-details {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 58vh;
    color: black;
    margin-right: 5vw;
    margin-top: 18vh;
    height: 78vh;
    max-width: 29rem;
    display: flex;
    flex-direction: column;
    
}

.aboutme-content {
    background-color: white;
    padding: 20px;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 56vh;
    margin-right: 5vw;
    margin-top: 18vh;
    height: 78vh;
    max-width: 29rem;

}

.aboutme-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.aboutme-content p {
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
}

@media (max-width: 768px) {
    .aboutme-wrapper {
        grid-template-columns: 1fr; /* Stack elements in one column on smaller screens */
    }
    .aboutme-image-container,
    .aboutme-content {
        width: 100%; /* Ensure full width on smaller screens */
    }
}

.aboutme-image:hover {
    transform: scale(1.05); /* Enlarges the image by 10% */
    transition: transform 0.9s ease; /* Smooth transition effect */
}

.aboutme-details:hover {
    transform: scale(1.05);
    transition: transform 0.9s ease;
}

/* CSS for "About Me" box hover effect */
.aboutme-content:hover {
    transform: scale(1.05); /* Enlarges the box by 5% */
    transition: transform 0.9s ease; /* Smooth transition effect */
}
