html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.aboutme-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    gap: 20px;
    align-items: start; /* Align items to the start */
    background: linear-gradient(to top, rgb(148, 145, 145), #c0bcbc 10%, #ddd 80%, white);
    min-height: 100vh; /* Make sure it covers the full viewport height */
}

.aboutme-image-container { /* Renamed class for the div */
    width: 70%; /* Div fills its grid area */
}

.aboutme-image {
    width: 90%; /* Image fills its container */
    height: 80%; /* Maintain aspect ratio */
    margin-left: 7vw;
    margin-top: 20.9vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Rounded corners with a radius of 10px */
}

.aboutme-details {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 58vh;
    color: black;
    margin-right: 5vw;
    margin-top: 21vh;
    height: fit-content;
    max-width: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutme-content {
    background-color: white;
    padding: 20px;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 58vh;
    margin-right: 5vw;
    margin-top: 21vh;
    height: fit-content;
    max-width: 29rem;

}

.aboutme-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.aboutme-content p {
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
}

@media (max-width: 768px) {
    .aboutme-wrapper {
        grid-template-columns: 1fr; /* Stack elements in one column on smaller screens */
    }
    .aboutme-image-container,
    .aboutme-content {
        width: 100%; /* Ensure full width on smaller screens */
    }
}

.aboutme-image:hover {
    transform: scale(1.00); /* Enlarges the image by 5% */
    transition: transform 0.3s ease; /* Smooth transition effect */
}

/* CSS for "About Me" box hover effect */
.aboutme-content:hover {
    transform: scale(1.05); /* Enlarges the box by 5% */
    transition: transform 0.3s ease; /* Smooth transition effect */
}
