.video-container {
    display: grid;
    place-items: center; /* Centers content in both x and y axes */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.waterfall-video {
    grid-area: 1 / 1; /* Places the video in the first grid cell */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.get-in-touch {
    position: absolute; /* Position it absolutely within the video container. */
    top: 50%; /* Start at 50% from the top. */
    left: 50%; /* Start at 50% from the left. */
    transform: translate(-50%, -50%); /* Offset the box by half its width and height. */
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px; /* Maximum width but can be smaller on smaller screens. */
    width: calc(100% - 40px); /* Full width minus the padding. */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2; /* Make sure it's above the video. */
    display: grid;
}

.get-in-touch h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.linkedin {
    width: 7rem;
    padding-top: 20px;
    margin-left: 40%;
    padding-bottom: 10px;
}

.email {
font-size: 1.8rem;
}

/* Keyframe for flip animation */
@keyframes flipIcon {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  /* Apply the flip animation on hover to the LinkedIn emblem */
  .linkedin:hover {
    animation: flipIcon 0.9s ease-in-out 1; /* 0.6s duration, ease-in-out timing, 1 iteration */
  }
  