#main-navbar.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#main-navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#main-navbar .nav-item {
    display: inline;
    cursor: pointer;
}

#main-navbar .nav-item a {
    color: rgba(255, 255, 255, 0.968);
    display: inline-block;
    padding: 20px;
    margin-right: 2rem;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    font-size: 1.2rem;
}

#main-navbar .nav-item a:hover {
    color: #FFF;
    transform: scale(1.1);
}


